mat-form-field {
  width: 30rem;
  display: block;
}

.noPadding {padding: 0}


.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

li mat-checkbox {
  margin: 0.4rem;
}

::ng-deep .mat-horizontal-content-container {
  overflow: visible !important;
}
