 <mat-stepper (selectionChange)="stepperSelectionChanged($event)" [linear]=true #stepper >
    <mat-step [completed]="this.fileNamesOfSelectedLeafNodes(this.trie.root).length !== 0">

      <div *ngIf="diffLoading">
        <p>Loading the diff...</p>
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="!diffLoading && projectPath == ''">
        <p>Please input a valid project directory in the header</p>
      </div>
      <div *ngIf="diff !== undefined">
        <h2>Please select the files to commit:</h2>
        <mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="example-tree" style="margin-bottom: 1rem">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
            <li>
              <button mat-icon-button disabled></button>
              <div [class]="getCircleColorClass(node.mode[0])" title="{{node.mode}}">{{node.mode[0]}}</div>
              <mat-checkbox class="checklist-branch-node"
                            [checked]="node.selected"
                            (change)="leafNodeSelect(node)"></mat-checkbox><div style="cursor: pointer; display: inline-flex" (click)="fileClicked(node)">{{node.path}}</div>
            </li>
          </mat-tree-node>

            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild" >
              <li>
              <div class="mat-tree-node">
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.filename">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{nestedTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
                <mat-checkbox class="checklist-branch-node"
                              [checked]="node.selected"
                              [indeterminate]="descendantsPartiallySelected(node)"
                              (change)="checkAllChildren(node,!node.selected)"></mat-checkbox><span>{{node.path}}</span>
              </div>
                <ul>
                  <div [class.example-tree-invisible]="!nestedTreeControl.isExpanded(node)" role="group">
                    <ng-container matTreeNodeOutlet></ng-container>
                  </div>
                </ul>
              </li>
            </mat-nested-tree-node>

        </mat-tree>

      </div>
    <ng-template matStepLabel>Basic Commit Information</ng-template>
    <div style="margin-bottom: 1rem">
      <button mat-raised-button (click)="firstStepSubmit(stepper)">Next</button>
    </div>
      <div *ngIf="diff !== undefined">
        <div [innerHtml]="fileHtml"></div>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Click here to see the full diff
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div [innerHtml]="outputHtml"></div>
        </mat-expansion-panel>
      </div>
      <p *ngIf="diff === null"><b>No file changes detected. Maybe you have selected the wrong git project</b></p>
    </mat-step>
    <mat-step label="Fill In Body" style="overflow: visible">

      <div *ngIf="this.loading">
        <p>Loading the hunks... </p>
        <mat-spinner></mat-spinner>
      </div>
      <form [formGroup]="userForm" (ngSubmit)="send(userForm.value)">
        <div *ngFor="let answer of getQuestionFormControls(); let i = index">
          <div style=" background-color: white;       position: -webkit-sticky;
  position: sticky;
    bottom: 0; padding-bottom: 1rem;"></div>
          <mat-card style="margin-top: 1rem;   margin-bottom: 1rem;">
            <mat-card-content>
              <div [innerHtml]="questionHunks[i].diff"></div>
              <div style=" background-color: white;       position: -webkit-sticky;
  position: sticky;
    bottom: 0; padding-bottom: 1rem;   align-items: center;
  justify-content: center;">
                <mat-form-field class="noPadding" appearance="outline" style="margin-top: 1rem; display: inline-block; margin-right: 1rem">
                  <mat-label>{{questionHunks[i].question}}</mat-label>
                  <textarea matInput type="text"  cdkTextareaAutosize #autosize="cdkTextareaAutosize"cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" class="form-control"
                            [formControl]="answer" name="answer" [focusMe]="focus" value="" ></textarea>
                </mat-form-field>
                or
                <mat-form-field class="form-field-inline"  appearance="outline" >
                  <mat-label>Is covered by message</mat-label>
                  <mat-select
                    [formControl]="getBelongsToFormControls()[i]" name="is covered by" [disabled]="answer.value !== '' && answer.value !== null" (selectionChange)="getBelongsToFormControls()[i].value === undefined?answer.enable():answer.disable()">
                    <mat-option>None</mat-option>
                    <ng-container *ngFor="let answer of getQuestionFormControls(); let j = index">
                      <mat-option *ngIf="answer.value !== '' && answer.value !== null && i !== j" [value]="j">{{answer.value}}</mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
                <button mat-raised-button="" (click)="addQuestionHunk(stepper,false)" style="margin-left: 1rem;" [class.spinner]="loading" color="primary" [disabled]="loading">Load next hunk</button>
                <!--button mat-raised-button="" (click)="addQuestionHunk(stepper,true)" style="margin-left: 1rem;" [class.spinner]="loading" color="primary" [disabled]="loading">Question next file</button>!-->
                <button mat-raised-button (click)="removeQuestion(i);addQuestionHunk(stepper,false)" style="margin-left: 1rem;">Do not stage this hunk</button>
                <div style="display: inline-flex; flex-direction: column; min-width: 11rem; vertical-align: middle; justify-content: center;">
                    <div style="display: inline-flex; flex-direction: row; align-items: center">
                      <div style="margin-left: 1rem; margin-right: 0.3rem;font-size: 0.8rem;">Files</div>
                      <span style="display: inline-flex; max-width: 3rem; vertical-align: text-top;  margin-right: 0.4rem" >{{oldFiles.length-openFiles}}/{{oldFiles.length}}</span>
                      <mat-progress-bar style="display: inline-flex; max-width: 3rem; vertical-align: text-top" mode="determinate" [value]="((oldFiles.length-openFiles)/oldFiles.length)*100" color="warn" [class.green-progress]="(oldFiles.length-openFiles)/oldFiles.length> 0.7">Test</mat-progress-bar>
                    </div>
                  <div style="display: inline-flex;flex-direction: row; align-items: center">
                    <div style="margin-left: 1rem; margin-right: 0.3rem;font-size: 0.8rem;">Hunks</div>
                    <span style="display: inline-flex; max-width: 3rem; vertical-align: text-top; margin-right: 0.4rem">{{allHunksForCurrentFile-openHunks}}/{{allHunksForCurrentFile}}</span>
                    <mat-progress-bar style="display: inline-flex; max-width: 3rem; vertical-align: text-top" mode="determinate" [value]="((allHunksForCurrentFile-openHunks)/allHunksForCurrentFile)*100" color="warn" [class.green-progress]="(allHunksForCurrentFile-openHunks)/allHunksForCurrentFile > 0.7">Test</mat-progress-bar>
                </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <br>
        <br>
        <div>
          <button mat-raised-button [disabled]="getQuestionFormControls().length === 1 && getQuestionFormControls()[0].value === null" matStepperNext>Do not stage the remaining hunks</button>
        </div>
      </form>
    </mat-step>
    <mat-step label="Finish Message">
      <div style="display: flex; align-items: stretch;">
        <div style="margin-right: 2rem;width: 33%">
          <h2>You got {{commits.length}} atomic commit<span *ngIf="commits.length != 1">s</span>:</h2>
          <div *ngFor="let commit of commits" class="commitBox" [class.selectedCommitBox]="selectedCommit === commit" [class.commitBoxFinished]="commit.commited" (click)="onCommitSelection(commit)">
            <div class="commitMessageText"><span *ngIf="commit.type">{{getEnumKeyByEnumValue(Type, commit.type)}}: </span>{{commit.short_description}}</div>
            <div>
              <span class="hunkInfo">{{commit.hunks.length}} Hunk<span *ngIf="commit.hunks.length != 1">s</span></span>
              <mat-icon *ngIf="commit.commited" class="commitStatusIcon">done</mat-icon>
              <mat-icon *ngIf="!commit.commited" class="commitStatusIcon">pending</mat-icon>
            </div>
          </div>
        </div>
        <div style="width: 67%;display: flex;flex-direction: column;">
          <div style="display: flex; align-items: stretch;">
            <div style="width: 50%;display: flex;justify-content: center">
              <form (ngSubmit)="commitCode(commitForm2)" #commitForm2="ngForm">
                <mat-form-field class="noPadding"  appearance="outline">
                  <mat-label>Type</mat-label>
                  <mat-select
                    required
                    [(ngModel)]="selectedCommit.type" name="type" (ngModelChange)="buildCommitMessageStringFromCommit(selectedCommit)">
                    <mat-option *ngFor="let type of commitTypes" [value]="type">{{type}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="noPadding" appearance="outline">
                  <mat-label>Scope</mat-label>
                  <input matInput type="text" class="form-control"
                         [(ngModel)]="selectedCommit.scope" name="scope" (ngModelChange)="buildCommitMessageStringFromCommit(selectedCommit)">
                </mat-form-field>
                <mat-form-field class="noPadding" appearance="outline">
                  <mat-label>Short Description</mat-label>
                  <input matInput type="text" class="form-control" required minlength="1" name="shortDescription"
                         [(ngModel)]="selectedCommit.short_description" #commitDescription="ngModel" (ngModelChange)="buildCommitMessageStringFromCommit(selectedCommit);">
                </mat-form-field>
                <div *ngIf="commitDescriptionLength(selectedCommit.type,selectedCommit.scope,selectedCommit.short_description,selectedCommit.breakingChanges) > 70" style="color: orange">
                  The commit message header should have less than 70 characters, because many commit tools only show 70
                  characters.<br>Your header has {{commitDescriptionLength(selectedCommit.type,selectedCommit.scope,selectedCommit.short_description,selectedCommit.breakingChanges)}} Characters<br> Please make the header shorter and add further information to the body.
                </div>
                <mat-form-field  appearance="outline">
                  <mat-label>Commit Body</mat-label>
                  <textarea matInput type="text" rows="20" cols="70" name="commit_message" placeholder="e.g.:"
                            [(ngModel)]="selectedCommit.body" (ngModelChange)="buildCommitMessageStringFromCommit(selectedCommit)"></textarea>
                </mat-form-field>
                <span>Commit Message Quality:</span>
                <div class="strength-meter">
                  <div class="strength-meter-fill" [style.background]="getMeterFillColor(messageStrength)" [attr.data-strength]="messageStrength"></div>
                </div>
                <ng-container *ngIf="feedback">
                  <small class="message-feedback" *ngIf="feedback.warning">
                    {{feedback.warning}}
                  </small>
                  <small class="message-feedback" *ngIf="feedback.suggestions && feedback.suggestions.length > 0">
                    <ng-container *ngFor="let suggetion of feedback.suggestions">{{suggetion}}</ng-container>
                  </small>
                </ng-container>
                <mat-form-field class="noPadding" appearance="outline">
                  <mat-label>Closes Issue With ID (Split multiple Issues with ,)</mat-label>
                  <input matInput type="text" [(ngModel)]="selectedCommit.closesIssue" (ngModelChange)="buildCommitMessageStringFromCommit(selectedCommit)" pattern="(\d+)(,\s*\d+)*" name="closes_issue">
                </mat-form-field>
                <p>
                  <mat-checkbox [(ngModel)]="selectedCommit.breakingChanges" (ngModelChange)="buildCommitMessageStringFromCommit(selectedCommit)" name="breaking Change">Breaking Change</mat-checkbox>
                </p>
                <p style="color: red; width: 30rem" *ngIf="selectedCommit.breakingChanges"><b>The commit short description (uppermost field) shall be used to describe the breaking change</b></p>
                <div>
                  <button mat-raised-button [disabled]="committing || selectedCommit.commited" >Commit</button>
                </div>
              </form>
            </div>
            <div style="margin-left: 2rem;width: 50%">
              <h2>Commit Message Preview</h2>
              <p style="white-space: pre-line;margin-top: 1rem;font-size: 0.8rem; margin-bottom: 2rem; max-height: 10rem; overflow: scroll;">
                {{selectedCommit.finalMessage}}
              </p>

              <h2>Did you know?</h2>
              <p style="white-space: pre-line;margin-top: 1rem; margin-bottom: 2rem">
                {{randomMotivation}}
              </p>
              <ng-container *ngIf="questionsForSelectedCommitType.length !== 0">
              <h2>How to improve message quality for commit type {{getEnumKeyByEnumValue(Type,selectedCommit.type)}}?</h2>
              <div style="white-space: pre-line;margin-top: 1rem;margin-bottom: 4rem">
                <div class="row">
                  <div class="column">
                    <div *ngFor="let index of questionsForSelectedCommitType">
                      <h3>{{questionsForCommitType[index].heading}}</h3>
                      <ul>
                        <li *ngFor="let question of questionsForCommitType[index].questions" [style.color]="determineQuestionColor(question)? 'white': 'black'" [style.background]="determineQuestionColor(question)? 'green': 'none'">{{question}}</li>
                      </ul>
                    </div>
                  </div>
                  <div class="column">
                    <div class="row"><span>Often</span></div>
                    <div class="row"  style="margin-top: 26rem">
                      <div class="long-arrow"></div>
                    </div>
                    <div class="row"><span>Seldom</span></div>
                  </div>
                  <div class="column" style="display: flex;align-items: center">
                    <span>Usage for this commit type</span>
                  </div>
                </div>

              </div>
              </ng-container>
            </div>
          </div>
          <div style="display: flex; align-items: stretch; margin-top: 1rem">
            <mat-accordion style="max-width: 100%">
              <mat-expansion-panel >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Show me all the Hunks for this Commit
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div style="max-width: 100%" *ngFor="let hunkIndex of selectedCommit.hunks" [innerHtml]="questionHunks[hunkIndex].diff"></div>
              </mat-expansion-panel>
            </mat-accordion>

          </div>
        </div>

      </div>
    </mat-step>
   <mat-step label="Diary">
     <h2>Diary Questions</h2>

     <section>
       <header>
         <div class="colQuestion"></div>
         <div class="col">Strongly disagree</div>
         <div class="col">Disagree</div>
         <div class="col">Neutral</div>
         <div class="col">Agree</div>
         <div class="col">Strongly agree</div>
       </header>
     </section>

       <mat-radio-group class="row"[(ngModel)]="answers[1]" aria-label="Question 2">
         <span class="colQuestion">I would have split the commit in multiple commits without Commit Mentor</span>
         <mat-radio-button class="col" value="0"></mat-radio-button>
         <mat-radio-button class="col" value="1"></mat-radio-button>
         <mat-radio-button class="col" value="2"></mat-radio-button>
         <mat-radio-button class="col" value="3"></mat-radio-button>
         <mat-radio-button class="col" value="4"></mat-radio-button>
       </mat-radio-group>

     <mat-radio-group class="row"[(ngModel)]="answers[2]" >
       <span class="colQuestion">I am satisfied with the granularity of untangling</span>
       <mat-radio-button class="col" value="0"></mat-radio-button>
       <mat-radio-button class="col" value="1"></mat-radio-button>
       <mat-radio-button class="col" value="2"></mat-radio-button>
       <mat-radio-button class="col" value="3"></mat-radio-button>
       <mat-radio-button class="col" value="4"></mat-radio-button>
     </mat-radio-group>

     <mat-radio-group class="row"[(ngModel)]="answers[3]" >
       <span class="colQuestion">Commit Mentor was useful for untangling this commit</span>
       <mat-radio-button class="col" value="0"></mat-radio-button>
       <mat-radio-button class="col" value="1"></mat-radio-button>
       <mat-radio-button class="col" value="2"></mat-radio-button>
       <mat-radio-button class="col" value="3"></mat-radio-button>
       <mat-radio-button class="col" value="4"></mat-radio-button>
     </mat-radio-group>

     <mat-radio-group class="row"[(ngModel)]="answers[4]" >
       <span class="colQuestion">Overall commit mentor helped me to write a more informative commit message for this commit</span>
       <mat-radio-button class="col" value="0"></mat-radio-button>
       <mat-radio-button class="col" value="1"></mat-radio-button>
       <mat-radio-button class="col" value="2"></mat-radio-button>
       <mat-radio-button class="col" value="3"></mat-radio-button>
       <mat-radio-button class="col" value="4"></mat-radio-button>
     </mat-radio-group>

     <mat-radio-group class="row"[(ngModel)]="answers[5]" >
       <span class="colQuestion">I added more information, because i recapped all hunks before committing</span>
       <mat-radio-button class="col" value="0"></mat-radio-button>
       <mat-radio-button class="col" value="1"></mat-radio-button>
       <mat-radio-button class="col" value="2"></mat-radio-button>
       <mat-radio-button class="col" value="3"></mat-radio-button>
       <mat-radio-button class="col" value="4"></mat-radio-button>
     </mat-radio-group>

     <mat-radio-group class="row"[(ngModel)]="answers[6]" >
       <span class="colQuestion">I added more information, because of the commit message quality score</span>
       <mat-radio-button class="col" value="0"></mat-radio-button>
       <mat-radio-button class="col" value="1"></mat-radio-button>
       <mat-radio-button class="col" value="2"></mat-radio-button>
       <mat-radio-button class="col" value="3"></mat-radio-button>
       <mat-radio-button class="col" value="4"></mat-radio-button>
     </mat-radio-group>

     <mat-radio-group class="row"[(ngModel)]="answers[7]" >
       <span class="colQuestion">I added more information, because of the questions that were recommended</span>
       <mat-radio-button class="col" value="0"></mat-radio-button>
       <mat-radio-button class="col" value="1"></mat-radio-button>
       <mat-radio-button class="col" value="2"></mat-radio-button>
       <mat-radio-button class="col" value="3"></mat-radio-button>
       <mat-radio-button class="col" value="4"></mat-radio-button>
     </mat-radio-group>

     <mat-radio-group class="row"[(ngModel)]="answers[8]" >
       <span class="colQuestion">Commit mentor helped me to write a well structured message</span>
       <mat-radio-button class="col" value="0"></mat-radio-button>
       <mat-radio-button class="col" value="1"></mat-radio-button>
       <mat-radio-button class="col" value="2"></mat-radio-button>
       <mat-radio-button class="col" value="3"></mat-radio-button>
       <mat-radio-button class="col" value="4"></mat-radio-button>
     </mat-radio-group>

     <mat-radio-group class="row"[(ngModel)]="answers[9]" >
       <span class="colQuestion">The message quality bar provided me with a helpful indication of my commit quality</span>
       <mat-radio-button class="col" value="0"></mat-radio-button>
       <mat-radio-button class="col" value="1"></mat-radio-button>
       <mat-radio-button class="col" value="2"></mat-radio-button>
       <mat-radio-button class="col" value="3"></mat-radio-button>
       <mat-radio-button class="col" value="4"></mat-radio-button>
     </mat-radio-group>

     <div style="margin-bottom: 0.5rem; margin-top: 1rem">
       <div style="margin-bottom: 0.5rem">Have you found a issue while reviewing your own code and had to fix it first?</div>
       <mat-radio-group [(ngModel)]="answers[10]" aria-label="Question 2">
         <mat-radio-button value="0" style="margin-right: 0.5rem">Yes</mat-radio-button>
         <mat-radio-button value="1">No</mat-radio-button>
       </mat-radio-group>
     </div>

     <div style="margin-bottom: 1rem; margin-top: 1rem">
       <div>How was your experience using the tool for this commit?</div>
       <mat-form-field class="noPadding" appearance="outline">
         <mat-label>How was your experience using the tool for this commit?</mat-label>
         <textarea [(ngModel)]="answers[11]" matInput type="text"  cdkTextareaAutosize #autosize="cdkTextareaAutosize"cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5" class="form-control" name="answer" [focusMe]="focus" value="" ></textarea>
       </mat-form-field>
     </div>

     <button mat-raised-button (click)="saveDiaryEntry()">Save diary entry</button>

   </mat-step>
  </mat-stepper>
