mat-form-field {
  width: 30rem;
  display: block;
}

.noPadding {padding: 0}


.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

li mat-checkbox {
  margin: 0.4rem;
}

::ng-deep .mat-horizontal-content-container {
  overflow: visible !important;
}

.blue {
  background-color: lightskyblue;
}

.green {
  background-color: lightgreen;
}

.red {
  background-color: lightcoral;
}

.roundCircle {
  margin-left: 0.2rem; margin-right: 0.2rem; width: 0.6rem;height: 0.6rem; padding: 8px; border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center; color: white
}
