

  <mat-stepper [linear]=true (selectionChange)="selectionChange($event)" #stepper>
    <mat-step [stepControl]="commitForm.control">
      {{model | json}}

      <form (ngSubmit)="onSubmit()" #commitForm="ngForm">
        <ng-template matStepLabel>Basic Commit Information</ng-template>
          <mat-form-field class="noPadding"  appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select
              required
              [(ngModel)]="model.type" name="type">
              <mat-option *ngFor="let type of commitTypes" [value]="type">{{type}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="noPadding" appearance="outline">
            <mat-label>Scope</mat-label>
            <input matInput type="text"  class="form-control"
                   [(ngModel)]="model.scope" name="scope">
          </mat-form-field>
          <mat-form-field class="noPadding" appearance="outline">
            <mat-label>Short Description</mat-label>
            <input matInput type="text"  class="form-control"
                   [(ngModel)]="model.short_description" name="short_description">
          </mat-form-field>
          <mat-form-field class="noPadding" appearance="outline">
            <mat-label>Closes Issue With ID (Split multiple Issues with ,)</mat-label>
            <input matInput type="text"  class="form-control" pattern="(\d+)(,\s*\d+)*"
                   #issueIDs="ngModel"
                   [(ngModel)]="model.closesIssue" name="closes_issue">
          </mat-form-field>
        <p>
          <mat-checkbox [(ngModel)]="model.breakingChanges" name="breaking Change">Breaking Change</mat-checkbox>
        </p>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Diff of commit
            </mat-panel-title>
            <mat-panel-description>
              Click to see the full div of the commit
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div [innerHtml]="outputHtml"></div>
        </mat-expansion-panel>
      </form>
      <div>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Fill in Body">

      <span>Quality of commit</span><mat-progress-bar mode="determinate" [value]="answeredQuestions" color="warn" [class.green-progress]="answeredQuestions/100 == 1">Test</mat-progress-bar>
      <form [formGroup]="userForm" (ngSubmit)="send(userForm.value)">
        <div *ngFor="let answer of getQuestionFormControls(); let i = index">
          <mat-card style="margin-top: 1rem">
            <mat-card-header><mat-card-title> Why do added the Pselect function to zsyscall_linux_mipsle.go?</mat-card-title></mat-card-header>
            <mat-card-content>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Diff for Pselect in zsyscall_linux_mipsle.go
                  </mat-panel-title>
                  <mat-panel-description>
                    This is a summary of the content
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div [innerHtml]="outputHtml"></div>
              </mat-expansion-panel>
              <mat-form-field class="noPadding" appearance="outline" style="margin-top: 1rem">
                <mat-label>Answer:</mat-label>
                <textarea matInput type="text"  cdkTextareaAutosize #autosize="cdkTextareaAutosize"cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" class="form-control"
                          [formControl]="answer" name="answer"></textarea>
              </mat-form-field>
              <button mat-raised-button (click)="removeQuestion(i)">This Question is Bad</button>
            </mat-card-content>
          </mat-card>
        </div>
        <br>
        <button mat-raised-button="" (click)="addQuestion()">Load next Question</button>
        <br>
        <div>
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext>All important questions asked</button>
        </div>
      </form>
    </mat-step>
    <mat-step label="Finish Message">
      <p>
        <mat-form-field  appearance="outline">
          <mat-label>Review Commit Message</mat-label>
          <textarea matInput type="text" rows="20" cols="70" name="commit_message">{{commitMessage}}</textarea>
        </mat-form-field>
      </p>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Commit Code</button>
      </div>
    </mat-step>
  </mat-stepper>

