#cardContainer{
  width: 90%;
  margin:auto
}

mat-card {
  margin-top: 1rem;
}

mat-card-content {
  margin: 1rem;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-form-field{
  max-width: 60rem;
  width: 30rem;
}




