<mat-toolbar color="primary"><span>Commit Mentor</span>
  <span class="example-spacer"></span><span style="margin-right: 0.5rem">Path to Project:</span>
  <mat-form-field class="filters" floatLabel="never">
    <input matInput placeholder="e.g. C:\...\Project_Folder" [(ngModel)]="projectPath" />
  </mat-form-field>
  <button mat-raised-button style="margin-left: 0.4rem" (click)="updateProjectPath()">
    Update
  </button>
</mat-toolbar>
<div id="cardContainer">
 <app-conventional-commit-form [projectPath]="updatedProjectPath"></app-conventional-commit-form>
</div>

<router-outlet></router-outlet>
